<div data-ng-controller="NFLController">
 <!--    <h2>Online lodging application</h2>
    <h3>This is the main view</h3>
  
    <div data-ng-repeat="rooms in roomsDetails">
	    <a href="#/rooms/{{ $index }}">{{rooms.team}} </a>
    </div> -->


<div class="featured-image" style="opacity: 1; z-index: 0;">
		       <img src="images/slider-bg.jpg" alt="NeLo">
         <div class="slide_content_wrap">
                      <!-- Text title -->
                        <h4 class="title" style="opacity: 1;">Nelo - Online Lodging application</h4>
	                        <p class="description" style="opacity: 1;">You Don't Need Magic to Disappear. All you need is a destination.</p>
		                        <!-- /Text description -->
		                        <div class="slide-btns description" style="opacity: 1;">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#/leagues">Show me the rooms </a></li>
		                        		<li><a class="minfo" href="aboutus.html">About Us </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
	     </div>
</div>

</div>


