.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 50px;
    width: 100%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#ddd;
   -webkit-box-shadow: 0 8px 6px 6px black;
     -moz-box-shadow: 0 8px 6px 6px black;
          box-shadow: 0 8px 6px 6px black;
}
footer p{
     padding: 5px 0 12px 10px;
}

.navlist li
{
  display: inline;
  list-style-type: none;
}

.slide_content_wrap {
  top: 400px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -360px;
}

.slide_content_wrap > .description, .title { 
      font-size:  24px;
      font-weight: 500;
      font-family: Arial;
      color: #FFF;
      text-align: center;
}

.slide_content_wrap > .title { 
      font-size: 3em;
      padding: 5px;
}

.reg {

  color:#2BD5B4 !important;
}