 <div data-ng-controller="LeaguesController" data-ng-init="findMyRoom()" >
  <h2>Bookings</h2>
  <h3>All My Bookings</h3>
  <ul class="unstyled">
    <li data-ng-repeat="room in rooms ">
      <a href="#/leagues/{{ room.$id }}">{{room.name}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.type}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.capacity}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.facilities}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.pictures}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.description}}</a>
        <a href="#/leagues/{{ room.$id }}">{{room.price}}</a>
        
    </li>
  </ul> 
  <br>
 <a href="#/leagues">Book another room</a>
</div>