		
<!----start-offers---->
        <div class="offers" ng-controller="SpecialOffersController">
                 <section class="slider">
                <div class="flexslider carousel">
                  <ul class="slides">
                    <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_normala1.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Normal Room</a></h4>
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_normala2.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Normal Room</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_normala3.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Normal Room</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_vedere_mare1.jpg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Room with sea View</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                    <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_vedere_mare2.jpg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Room with sea View</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_vedere_mare3.jpg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Room with sea View</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/camera_vedere_mare4.jpg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Room with sea View</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/suite1.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Suite</a></h4>
                                   
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                     <li onclick="location.href='#';">
                        <img src="images/pozecamere/suite2.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Suite</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                     <li onclick="location.href='#';">
                        <img src="images/pozecamere/suite3.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Suite</a></h4>
                                    
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                         <li onclick="location.href='#';">
                        <img src="images/pozecamere/suite4.jpeg" />
                        <!----place-caption-info---->
                        <div class="caption-info">
                             <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Suite</a></h4>
                                    <
                                </div>
                                <div class="caption-info-head-right">
                                    <span> </span>
                                </div>
                                <div class="clear"> </div>
                             </div>
                        </div>
                         <!----//place-caption-info---->
                        </li>
                    </ul>
                </div>
              </section>
              <!-- //End content_slider -->

