 <div data-ng-controller="LeaguesController" data-ng-init="findRooms()">
 
  <div lass="bookings-container">
    <div class="individual-room" data-ng-repeat="room in rooms">
      <a href="#/leagues/{{ room.$id }}">{{room.name}}</a>
       <div class="details-container">
           <div class="room-pictures" href="#/leagues/{{ room.$id }}">{{room.pictures}}</div>
           
           <div class="type-capacity">
               <ul class="facilities-list"> 
                    <li class="room-type" href="#/leagues/{{ room.$id }}">{{room.type}}</li>
                    <li class="room-capacity" href="#/leagues/{{ room.$id }}">{{room.capacity}}</li>
                    <li class="room-facilities" href="#/leagues/{{ room.$id }}">{{room.facilities}}</li>
                    <li class="room-price" href="#/leagues/{{ room.$id }}">{{room.price}}</li>    
               </ul>
              
           </div>
            <div class="room-description" href="#/leagues/{{ room.$id }}">{{room.description}}</div>
           <a class="book-button-list" href="#/leagues/{{ room.$id }}">Book It</a>
       </div>
     <!--(<a href="#/leagues/{{ room.$id }}/edit">Edit</a>)-->
     <!--(<a href="" data-ng-click="removeRoom('{{ room.$id }}')" >Remove</a>)-->
    </div>
  </div> 
  <br>
  <a class = "book-button-list2" href="#/leagues/create">Add a new room</a>
</div>